<script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<div id="header" style="position:relative">
  <h1>갓데리 언니의 따르릉<br> 대국민 오디션</h1>
  <p style="position:absolute;right:8px;bottom:1px;margin:0px;color:#e28400">created by <a href="https://www.facebook.com/iam.duhee" style="color:#7e4a00">iamdoo2</a></p>
  <p style="position:absolute;left:8px;bottom:1px;margin:0px;color:#e28400"><a href="/apply" style="color:#7e4a00">업로드는 어떻게 하나요</a></p>
</div>
<div id="video_container">
<ul class="juicer-feed" data-feed-id="07768722-b1da-49c1-97db-b95965395da0"></ul>
</div>
