<!DOCTYPE html>
<html>
  <head>
    <title>Tarurung</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type"   content="website" /> 
    <meta property="og:url"    content="http://tarurung.com" /> 
    <meta property="og:title"  content="갓데리 언니의 따르릉 안무 공모전" /> 
    <meta property="og:description" content="갓데리 언니의 따르릉 안무 공모전" />
    <meta property="og:image"  content="https://s3.ap-northeast-2.amazonaws.com/chuldn/meta2.jpg" /> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>

  </head>

  <body>
<%= yield %>
  </body>
</html>
